
.contavv{
    margin-top: 10%;
    margin-bottom: 5%;

}
.form-body{
    background-color: gainsboro;
    padding: 9%;
}
.maps{
    background-color: gainsboro;
  
   margin-bottom: 5%;
   display: flex;
   justify-content: center;
   height: 43vh;
   align-items: center;
}