.kk {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
  }
  
.LKL {
    height: 100%;
    width: 100%;
  }
  .boxs {
    color: black;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .3s;
    text-align: center;
  
  }
  
  .boxs:hover {
    transform: scale(1.3);
    color: white;
  }
  .h1title{
    text-align: center;
    margin: 20px;
    color:gray;

  }
  .cattext{
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 15px;
  }