.formss{
    width: 500px;
    padding: 30px;
background-color: rgb(239, 240, 240);
    margin: 20px;
    border-radius: 10px;
    
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}