.search-box {
    position: absolute;
    top: 50%;
    margin-top: -302px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gainsboro;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn {
    background: orange;
    color: black;
  }
  .search-btn {
    color: black;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  .search-btn > i {
    font-size: 20px;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
  }
  .box{
    margin-top: 20%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 5%;
   
  }
  .imagess{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 6px;
  }
  
  .boxdiv{
    text-align: center;
  }
  .cercle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: orange;
  }
  .imgcer{
    display: flex;
  }
  .taxtdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  .butonboo{
  
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: orange;
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: all 0.2s;}
  
  
  .butonboo:hover{
      box-shadow: orange -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
      background-color: white;
  }
  .h2title{
  margin:5%; 
  }
  .pdescri{
    color:gray;
    font-size: 20px;
  }
  