.search-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gainsboro;
    height: 40px;
    padding: 10px;
    display: flex;
    
  }
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn {
    background: orange;
    color: black;
  }
  .search-btn {
    color: black;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  .search-btn > i {
    font-size: 20px;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
  }
  .box{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 5%;
    margin-top: 90px; 
  }
  .imagess{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 6px;
  }
  
  .boxdiv{
    text-align: center;
  }
 
  .imgcer{
    display: flex;
  }
  .taxtdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
 
  .h2title{
  margin:5%; 
  }
  .pdescri{
    color:gray;
    font-size: 20px;
  }

  button {
    padding: 0.8em 1.8em;
    border: black,2px solid;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: black;
    font-weight: 700;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: orange;
    transition: .5s ease;
   
    display: block;
    z-index: -1;
    margin-top: 20px;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   
  